body.dark {
  background-color: $dark-background-color;
  text-shadow: $dark-text-shadow;
  color: $dark-light-font-color;

  // home
  .home-header {
    color: $dark-light-font-color;
  }

  .bio {
    .author-name-content {
      background-color: $dark-category-border-color;
    }
    .author-introduction {
      color: $dark-middle-font-color;
    }
    a {
      color: $dark-link-color;
    }
  }

  .category-container {

    .MuiInputBase-input{
      padding: 6px 0 5px;
      color: $dark-light-font-color;
    }

  }

  .thumbnail {
    h3 {
      color: $dark-light-font-color;
    }
    p {
      color: $dark-middle-font-color;
    }
    &:hover {
      text-shadow: $dark-hover-text-shadow;
    }
  }

  .footer {
    color: $dark-middle-font-color;
    a {
      color: $dark-lightest-font-color;
    }
  }

  // post
  blockquote {
    border-left: 4px solid rgba(255, 255, 255, 0.822);
  }

  h1,
  h2 {
    border-bottom-color: rgba(255, 255, 255, 0.3);
  }

  .navigator {
    a {
      background-color: $navigator-background-color;
      color: $navigator-text-color;
    }
  }
}
